{% extends 'base.html' %} {% load static %} {% block title %}Evangelism Department - HOUSEHOLD OF
GOD CHURCH{% endblock %} {% block content %}
<!-- HERO SECTION -->
<div class="hero-section mt-4">
  <div id="churchCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="background-image: url('{% static 'images/ca1.png' %}')"
      >
        <div class="carousel-overlay">
          <h1>EVANGELISM DEPARTMENT</h1>
        </div>
      </div>
      <div
        class="carousel-item active"
        style="background-image: url('{% static 'images/ca3.png' %}')"
      >
        <div class="carousel-overlay">
          <h1>EVANGELISM DEPARTMENT</h1>
        </div>
      </div>
      <div
        class="carousel-item active"
        style="background-image: url('{% static 'images/April.jpg' %}')"
      >
        <div class="carousel-overlay">
          <h1>EVANGELISM DEPARTMENT</h1>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#churchCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#churchCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <!-- Custom indicators -->
    <div class="custom-indicators">
      <div
        class="custom-indicator active"
        data-bs-target="#churchCarousel"
        data-bs-slide-to="0"
      ></div>
      <div
        class="custom-indicator"
        data-bs-target="#churchCarousel"
        data-bs-slide-to="1"
      ></div>
      <div
        class="custom-indicator"
        data-bs-target="#churchCarousel"
        data-bs-slide-to="2"
      ></div>
    </div>
  </div>
</div>


  <!-- THE DEPARTMENT -->
    <div class="container church-section">
      <h2 class="church-title pb-4 text-center">MEET OUR HEAD OF DEPARTMENT</h2>
      <div class="row align-items-stretch church-row">
        <div class="col-md-5 hod-section align-items-center justify-content-center d-flex">
          <div class="card hod-card shadow-sm">
            <div class="card-body text-center">
              <!-- <h4 class="card-title mb-3">Meet Our Head of Department</h4> -->
              <img src="{% static 'images/evangelism.jpg' %}" alt="Head of Department" class="img-fluid rounded-circle mb-3" style="width: 350px; height: 350px; object-fit: cover;">
              <h4 class="hod-name mb-2">Sister Violet Michael-Mogo</h4>
              <p class="hod-info text-muted small">
                Sister Violet Michael-Mogo has been the H.O.D since 2008 till date.
              </p>
              <p class="hod-email mb-0">
                <a href="mailto:evangelism@householdofgodchurch.org" class="btn bg-dark btn-sm">
                  <i class="fas fa-envelope me-2"></i>evangelism@householdofgodchurch.org
                </a>
              </p>
            </div>
          </div>
        </div>
      
        <div class="col-md-6 d-flex align-items-center">
          <div>
            <p class="church-text mb-0">
                The Evangelism Department was established in 2008 in accordance to the commission from our Lord and Saviour Jesus Christ in Matthew 16 verse 15, and charged with the mandate of taking the gospel to everyone in Lagos state.
                <br><br>
                
                On Sunday Mornings they go out to invite the new converts to church. The Department is made up of different sections that go to the hospitals, brothels, prisons and police stations to minister. Tract distribution is done at offices, prisons and football grounds. 
                <br><br>
                Every Saturday except the last Saturday, the department meet with other workers in church to go out and share the gospel on the streets on the platform of the popular Proclaimers exercise.
                <br><br>
                There is a full department meeting every first Saturday of the month, to plan for the month and get feedback from the different sections. The department has on register, 200 members.
              
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}